# List
    * iteration operation with loop
    * apply any operation on element

In [2]:
names : list[str] = ["Osama", "Zia", "Qasim"]
print(names)

['Osama', 'Zia', 'Qasim']

In [4]:
# here name is local variable it exist only inside for loop boundary
for name in names:
    print(name)

Osama
Zia
Qasim

In [2]:
# old way
names : list[str] = ["Osama", "Zia", "Qasim"]
i : int = 0

while i < len(names): #names lenght = 3
    print(names[i])
    i+=1

Osama
Zia
Qasim

In [5]:
names : list[str] = ["Osama", "Zia", "Qasim"]

for name in names:
    print(f"Welcome teacher {name.title()}")

    print("Hi i am a for loop body part \n")

Welcome teacher Osama
Hi i am a for loop body part

Welcome teacher Zia
Hi i am a for loop body part

Welcome teacher Qasim
Hi i am a for loop body part

In [7]:
# print only specific range

# here we are getting items one by one and perform operation of them

names : list[str] = ["Osama", "Zia", "Qasim"]

for name in names[:1]:
    print(f"Welcome teacher {name.title()}")

    print("Hi i am a for loop body part \n")

Welcome teacher Osama
Hi i am a for loop body part

In [13]:

data_base : list[tuple[str, str]] = [("osama", "123"),
                                     ("qasim", "234"),
                                     ("zia", "1243")
                                     ]

for row in data_base:
    # unzip
    user_name, password = row
    print(user_name, password)

osama 123
qasim 234
zia 1243

In [16]:

data_base : list[tuple[str, str]] = [("osama", "123"),
                                     ("qasim", "234"),
                                     ("zia", "1243")
                                     ]
input_user_name = input("Enter user name")
input_user_password = input("Enter user password")

for row in data_base:
    # unzip
    user_name, password = row

    if(user_name == input_user_name and password == input_user_password):
        print("Valid User")
        break
else:
    print("Username Not Found Or Invalid UserName")

Username Not Found

In [17]:
# we can also access local variable of loop outside its body as well in python

names : list[str] = ["Osama", "Zia", "Qasim"]

for name in names:
    print(f"Welcome teacher {name.title()}")

    print(f" I am still accessible {name}")

Welcome teacher Osama
 I am still accessible Osama
Welcome teacher Zia
 I am still accessible Zia
Welcome teacher Qasim
 I am still accessible Qasim

In [19]:
# un necessary indentation cause an error in python

 print("hello")

IndentationError: unexpected indent (1589672518.py, line 3)

In [20]:
# Numbers with loop
# range(start, end, step)

In [21]:
# generator func does not run by self
range(10)

range(0, 10)

In [23]:
numbers : list[int] = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
numbers : list[int] = list(range(2, 21, 2))
numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
for n in range(2, 21, 2): print(n)

2
4
6
8
10
12
14
16
18
20

In [28]:
# enumerate generator func map index with item

persons : list[str] = ["osama", "arshad"]
list(enumerate(persons))

[(0, 'osama'), (1, 'arshad')]

In [29]:

persons : list[str] = ["osama", "arshad"]

for index, person in enumerate(persons):
    print(index, person)

0 osama
1 arshad

In [30]:
squares = []

for val in range(1, 11):
    square = val ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# list comprehension muti line code in one line

```
for item in item_list:
    loop body
```

### comprehensive style

```
loop body for item in item_list
```

In [31]:
[ i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
" line 1"
" line 2"
" line 3" # ipynb always return last line

' line 3'

In [35]:
# some global py func for statics

my_square: list[int] = [ i**2 for i in range(1, 11)]

print("max", max(my_square))
print("min", min(my_square))
print("sum", sum(my_square))

max 100
min 1
sum 385

In [38]:
fruits = ["apple", "mango"]
fruits_another = fruits[:] # deep copy

fruits_another[0] = "banana"

print(fruits)
print(fruits_another)

['apple', 'mango']
['banana', 'mango']

In [41]:
# tuple is immutable we cannot append anything and cannot update

In [42]:
names : tuple[str] = ("A", "B", "C")
print(names[0])
print(names[0:2])

# names[0] = "pakistan" # we cannot update value

names : tuple[str] = ("A", "B", "pakistan") # but we can re assign

A
('A', 'B')

TypeError: 'tuple' object does not support item assignment

In [1]:
from typing import Any

data: tuple[Any] = ("A", [1, 2, 3], 12)
print(data)
data[1].append(20) # here we do the change on item not on tuple
print(data)

('A', [1, 2, 3], 12)
('A', [1, 2, 3, 20], 12)