# String Datatype

In [4]:
# boundries ''. "", ''' ''', """ """
name : str = "Osama"

In [2]:
name : str = """            Osama """
print(name)
print(type(name))

            Osama
<class 'str'>

In [6]:
name : str = "Osama's atta"
print(name)

Osama's atta

In [8]:
# convert any special character into simple character use \ before special character
name : str = "Osama\'s \n atta"
print(name)

Osama's
 atta

In [9]:
# if you want to show ' inside string in boundary use "" quote
name : str = "Osama's \n atta"
print(name)

Osama's
 atta

In [14]:
# we cannot concatinate string with no

name : str = "Osama"
age: int = 26
id: int = 1
card: str = "PIAIC Student Name:" + name + "\n Age:" + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [19]:
# multiline string here you have to do type convertion as well use \ which is complex

name : str = "Osama"
age: int = 26
id: int = 1
card: str = "PIAIC Student Name:" + name + "\nAge:" + \
      str(age)

print(card)

PIAIC Student Name:Osama
Age:26

# \ back slash line continue

In [17]:
# we use \ to tell aga ke logic next ma line ma h
# execution time pr computer sara \ back slash remove kr ka code ek line ma la aye ga

print(3 + \
      2 + \
        5)

10

# defining multiline string """ """ or ''' '''
# f string

In [23]:
name : str = "Osama"
age : int = 26
id: int = 1

card : str = f"""
PIAIC Student: {name}
Age: {age}cls
Id: {id}
we can also write expression in f string as well
Total: {12+12}
"""

print(card)

PIAIC Student: Osama
Age: 26
Id: 1
we can also write expression in f string as well
Total: 24

# f-string and jinja style

# We use these two methods for string formatting

In [24]:
# jinja style use in web development

"""Name: {{name}}"""

'Name: {{name}}'

In [26]:
# old ways of doing concatinate formating string in c and java
# jaha variable chahia waha % use kre ga jese %s means string or %d means integer and we define variables at the end % then tuple round brackets
# and define variables inside there

name : str = "Osama"
age : int = 26
id: int = 1

card : str = """
Name: %s
Age: %d
Id: %d
""" % (name, age, id)

print(card)

Name: Osama
Age: 26
Id: 1

In [28]:
# string methods
# {} is called placeholder
name : str = "Osama"
age : int = 26
#        0                 1           0    1
"Age is {} and my name is {}".format(age, name)

'Age is 26 and my name is Osama'

In [29]:
# here 0 and 1 are index
name : str = "Osama"
age : int = 26
#                                       0    1
"Age is {1} and my name is {0}".format(age, name)

'Age is Osama and my name is 26'

In [30]:
# we can also define placeholder by ourself and assign values to them
name : str = "Osama"
age : int = 26

"Age is {a} and my name is {b}".format(a = age, b = name)

'Age is 26 and my name is Osama'

In [33]:


student_code : str = """
print("student")
a : int = 12
b : int = 12
print(a+b)
"""
exec(student_code)

student
24

# Exploring string methods

pre define global func we have used

* print
* id
* dir
* len
* type

In [35]:
a : list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [48]:
# inorder to remove space from the center we use regular expression for that we import re regular expression

import re

name : str = "   Osama         Arshad    Khan   "
display(name)
name1 : str = re.sub(' {2,100}', " ", name).strip()
display(name1)

'   Osama         Arshad    Khan   '

'Osama Arshad Khan'

In [52]:
" \b means backspace delete the left part one char where it is used"
# \n means new line
# \t means tab

print(" \t \t Osama")
print("my name is\b osama")

 	 	 Osama
my name i osama

In [53]:
# prefix remove from the start
web : str  = "https://google.com"
web.removeprefix("https://")

'google.com'