# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [2]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.1.0-cp312-cp312-win_amd64.whl.metadata (3.6 kB)
Downloading lxml-5.1.0-cp312-cp312-win_amd64.whl (3.9 MB)
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.9 MB 262.6 kB/s eta 0:00:15
   ---------------------------------------- 0.0/3.9 MB 245.8 kB/s eta 0:00:16
    --------------------------------------- 0.1/3.9 MB 357.2 kB/s eta 0:00:11
   - -------------------------------------- 0.1/3.9 MB 514.3 kB/s eta 0:00:08
   - -------------------------------------- 0.2/3.9 MB 692.9 kB/s eta 0:00:06
   -- ------------------------------------- 0.2/3.9 MB 722.1 kB/s eta 0:00:06
   -- ------------------------------------- 0.3/3.9 MB 803.7 kB/s eta 0:00:05
   --- ------------------------------------ 0.4/3.9 MB 890.4 kB/s eta 0:00:04
   ----- ---------------------------------- 0.5/3.9 MB 1.2 MB/s eta 0:00:03
   ----- ---------------------------------- 0.6/3.9 MB 1.2 MB/s eta 0:00:03
   ------- -------------------------------- 0.8/3.9 MB 1.4 MB/s eta 0:00:03
   --------- ------------------------------ 1.0/3.9 MB 1.6 MB/s eta 0:00:02
   ------------ --------------------------- 1.2/3.9 MB 1.9 MB/s eta 0:00:02
   -------------- ------------------------- 1.4/3.9 MB 2.0 MB/s eta 0:00:02
   ---------------- ----------------------- 1.6/3.9 MB 2.1 MB/s eta 0:00:02
   ------------------- -------------------- 1.9/3.9 MB 2.4 MB/s eta 0:00:01
   --------------------- ------------------ 2.1/3.9 MB 2.6 MB/s eta 0:00:01
   ------------------------ --------------- 2.4/3.9 MB 2.7 MB/s eta 0:00:01
   --------------------------- ------------ 2.7/3.9 MB 2.9 MB/s eta 0:00:01
   ---------------------------- ----------- 2.8/3.9 MB 2.9 MB/s eta 0:00:01
   ---------------------------- ----------- 2.8/3.9 MB 2.9 MB/s eta 0:00:01
   ---------------------------- ----------- 2.8/3.9 MB 2.9 MB/s eta 0:00:01
   ---------------------------- ----------- 2.8/3.9 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  3.9/3.9 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 3.9/3.9 MB 3.4 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.1.0

In [3]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [12]:


print (12 / 5)

# floor division point value hata kr sirf no return kr deta ha 
print (12 // 5)

2.4
2

In [13]:
# power exponentiation is ke precedence right to left hoti h or bake operators ke left to right

print (2**2)

4

In [14]:
# in python we dont have === concept

In [15]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [17]:
# identity operator
# is operator check krta ha backend pr dono varibale ka memnory same hn?
a : str = "abc"
b : str = "abc"

print(a is b)

True

In [19]:
# python membership operator

names : list[str] = [chr(i) for i in range(65, 91) ]

"A" in names

True

In [20]:
names : list[str] = ["osama"]
user_input : str = input("Enter Name")
user_input not in names

True

In [21]:
# In python we use PEMDAS rule

In [22]:
# unzip concept backend pr touple bana or ek ek ka value nikal kr variable ko assign kr de

a , b, c = 12, "a", 12.0

In [23]:
12, "a", 12.0

(12, 'a', 12.0)

In [24]:
data = (1, 2, "a")

print(*data)

1 2 a

In [25]:
# * ko jb string ka sath use krta hn tu utne time iteration ho jati h

"a" * 3

'aaa'